*{
    margin: 0;
    padding: 0;
}

.g-information{
    margin-top: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.g-information img{
    width: 30rem;
    height: 30rem;
    border-radius: 2rem;
    border: 2px solid #4c9c70;
    margin-left:7rem ;
    
}

.info-tree{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 2rem;
    justify-content: center;
}

.treedescription{
    margin: 1rem;
    text-align: center;
    width: 50rem;
}

.finish-buy{
    border: solid 2px #215e3b;
    background-color: #052d23;
    color: #fff;
    padding: 10px 15px;
    border-radius: 7px;
    cursor: pointer;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    width: 20vw;
    transition: background-color 0.3s;
    text-align: center;
    margin: 1rem;
}

.finish-buy:hover{
    background-color: #1f5c3a;
}

.buttons-tree-buy{
    gap: 2rem;
}

@media (max-width: 480px) {
    .tree-container {
      flex-direction: column; /* Cambiar a disposición vertical */
      align-items: center;
    }
  
    .g-information img {
      height: 20rem;
      width: 20rem;
      margin: 0;
      margin-left: 5rem;
    }

    .g-information{
        flex-wrap: wrap;
    }
    .info-tree{
        margin-top: 1rem;
        display: flex;
        text-align: center;
    }

    .tree-description{
        margin-top: 10px;
    }

    .finish-buy, .cancel-button{
        width: 11rem ;
        margin-top: 1.2rem;
    }
  }

@media (max-width: 352px){
    .g-information img{
        width: 15rem;
        height: 15rem;
        margin: 0;
        margin-left: 4rem;
    }

    .info-tree{
        margin-top: 1rem;
        display: flex;
        text-align: center;
        margin-left: 2rem;
    }
}