.shopping-cart-content {
    margin-top: 80px; /* Ajusta este valor según la altura de tu Navbar */
    padding: 20px;
    text-align: center; /* Puedes cambiar esto según el diseño que quieras */
    font-size: 18px;
  }
  