.form-container {
  padding: 5rem;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: 0 auto;
  }
  
  label {
    /* Estilos para las etiquetas */
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input {
    /* Estilos para los campos de entrada */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 250px; /* Ancho fijo para los campos */
  }
  
  button {
    
    padding: 10px 20px;
    background: linear-gradient(0.25turn, #199202, #7cd900, #199202);
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .error {
    color: red;
    font-size: 12px;
  }
  .container-signin{
    height: auto;
    width: 30rem;
    background-color: #ececec;
    padding: 1rem;
    margin-top: 2rem;
    border: 2px solid #999999;
    border-radius: 1rem;
  }
  .general-signin{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
    text-align: center;
  }

  h1{
    padding-bottom: 1rem;
  }
