.image-link-img{
    width: 14rem;
    height: 14rem;
    background-color: #fff;
    border-radius: 1rem;
}

.image-link{
    width: 14.5rem;
    height: 14.5rem; 
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
   
}