.image-link-img{
    width: 14rem;
    height: 14rem;
    background-color: #fff;
    border-radius: 1rem;
}

.image-link{
    width: 14.5rem;
    height: 14.5rem; 
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
   
}

@media (max-width: 768px) {
    .image-link{
        width: 16rem;
        height: 16rem;
    }

    .image-link-img{
        width: 16.5rem;
        height: 16.5rem;
    }
    
}