.location-image img{
    width: 17rem;
    height: 17rem;
    border-radius: 1rem;
}

.location-card{
    width: 17.5rem;
    height: 17.5rem; 
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
}