.image {
  width: 100%;
  height: auto;
}

.carousel-image img {
  width: 40rem; 
  height: 26rem; 
}

.carousel-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
  margin-top: 9.5rem;
}
.button{
  display: flex;
  justify-content: space-between
  ;
}
.left-arrow {
  left: 5px;
}

.right-arrow {
  right: 5px;
}

button:focus {
  outline: none;
}
