.items{
    display: flex;
    justify-content: space-around;
    align-items: center ;
}

.info{
   text-align: center;
}
.info h2{
color: #999999;
}

.icon{
    width: 3rem;
   height:3rem;
   color: #5c9f24;
}
.information{
    background-color: #ffffff1a;
    margin: 0;
}