.items{
    display: flex;
    justify-content: space-around;
    align-items: center ;
}

.info{
   text-align: center;
}
.info h2{
color: #89c977;
}
.info p{
    color: white;
}

.icon{
    width: 3rem;
   height:3rem;
   color: #89c977;
}
.information{
    background-color: #052d23;
    margin: 0;
}