.items{
    display: flex;
    justify-content: space-around;
    align-items: center ;
}

.info{
   text-align: center;
}

.icon{
    width: 3rem;
   height:3rem;
}
.information{
    background-color: #76885b;
    margin: 0;
}